<widget id="A6068396250510" version="0.0.1">

    <name>openinstall</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="index.html"/>

    <access origin="*"/>

    <preference name="pageBounce" value="true"/>

    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

    <preference name="hScrollBarEnabled" value="true"/>

    <preference name="vScrollBarEnabled" value="true"/>

    <preference name="autoLaunch" value="true"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="true"/>

    <preference name="smartUpdate" value="false"/>

    <preference name="debug" value="false"/>

    <preference name="iOS7StatusBarAppearance" value="true"/>

    <permission name="readPhoneState"/>

    <permission name="fileSystem"/>

    <permission name="internet"/>

    <permission name="bootCompleted"/>

    <permission name="hardware"/>
    <!-- android:opt8cz32 ios:opafwz8n-->
    <preference name="urlScheme" value="opt8cz32"/>

    <feature name="openinstall">
        <param name="com.openinstall.APP_KEY" value="yd0mzt"/>
    </feature>

    <meta-data name="com.openinstall.APP_KEY" value="yd0mzt" />
</widget>
